.container {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #3d3d3d; */
}

.left {
    /* border: 1px solid #3d3d3d; */
    width: 50%;
    height: 100%;
}

.right {
    /* border: 1px solid #3d3d3d; */
    width: 50%;
    height: 100%;
}