.container {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #3d3d3d; */
}

.left {
    /* border: 1px solid #3d3d3d; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    /* border: 1px solid #3d3d3d; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.right > h3 > span {
    font-weight: bolder;
}

.right > h3 {
    font-size: 24px;
    font-weight: lighter;
}

.right > p {
    white-space: wrap;
    text-align: justify;
    width: 70%;
    font-size: 20px;
    font-weight: light;
    /* opacity: 0.95; */
}

.right > button {
    display: flex;
}

.image {
    width: 60%;
    height: 60%;
}

@media screen and (max-width: 1200px) {
    .container {
        margin-top: 10px;
        flex-direction: column;
        height: max-content;
        padding: 20px 0;
        gap: 2svh;
    }

    .left, .right {
        margin-bottom: 10px;
        width: 100%;
    }

    .right > p {
        width: 85%;
    }
}