.container {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4dvw;
    /* border: 1px solid #0a0a0a; */
}

.h2 {
    font-size: 2.3em;
    position: absolute;
    top: calc(100dvh + 30px);
    opacity: 0.2;
}

.cards {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0;
    opacity: 0.2;
}

.fadein {
    animation: var(--cardSlide);
}