.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;
    flex-direction: row;
    gap: 20px;
}

.qualifications {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 40px 0;
    width: 45%;
    height: 180dvh;
}

.experience, 
.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--input);
    width: 40dvw;
    height: max-content;
    margin: 10px 0;
    padding: 15px;
    position: relative;
}

.h3 {
    position: relative;
    font-size: 24px;
    left: -28%;
}

.card::before {
    content: '';
    position: absolute;
    border: 3px solid var(--portcardbg);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    z-index: -10;
    opacity: 0.5;
    transition: transform 0.25s, opacity 0.25s;
    transform: translate(-10px, -10px);
}

.card:hover::before{
    transform: translate(-5px, -5px);
    opacity: 1;
}

.skill_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 10px;
    width: 50dvw;
    background-color: var(--input);
    height: 150dvh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.span_timeline {
    font-size: 12px;
    font-style: italic;
    opacity: 0.6;
    margin-left: 3dvw;
}

.span_para {
    font-size: 14px;
    opacity: 0.9;
    /* margin: 5px 0; */
}

.span_role {
    font-size: 12px;
    opacity: 0.6;
    margin: 5px 0;
}


.slidein {
    /* animation: var(--slideIn2); */
}


@media screen and (max-width: 1200px){
    .container {
        flex-direction: column;
        height: max-content;
    }
    .qualifications {
        width: 100%;
    }
    .skills {
        width: 100%;
        height: 60svh;
    }

    .skill_container {
        width: 100%;
        height: max-content;
    }

    .card {
        width: 90%;
    }
    .card::before {
        width: 100%;
    }

    .h3 {
        left: 0;
    }
}