* {
  box-sizing: border-box;

 }

 @keyframes slideIn {
  0%   {top:200px;opacity: 0;}
  10%   {top:180px;opacity: 0.1;}
  20%  {top:160px;opacity: 0.2;}
  30%   {top:140px;opacity: 0.3;}
  40%   {top:120px;opacity: 0.4;}
  50%  {top:100px;opacity: 0.5;}
  60%   {top:80px;opacity: 0.6;}
  70%  {top:60px;opacity: 0.7;}
  80%   {top:40px;opacity: 0.8;}
  90%   {top:20px;opacity: 0.9;}
  100% {top:0px;opacity: 1;}
}

@keyframes fadeIn {
  0%   {opacity: 0;}
  10%   {opacity: 0.1;}
  20%  {opacity: 0.2;}
  30%   {opacity: 0.3;}
  40%   {opacity: 0.4;}
  50%  {opacity: 0.5;}
  60%   {opacity: 0.6;}
  70%  {opacity: 0.7;}
  80%   {opacity: 0.8;}
  90%   {opacity: 0.9;}
  100% {opacity: 1;}
}

@keyframes slideIn2 {
  from {gap: 30dvw;opacity: 0;}
  to {gap: 10dvw;opacity: 1;}
}

@keyframes vBounce {
  0%      {top: 30px; opacity: 1;}
  16.67%  {top: 20px; opacity: 0.83;}
  33.34%  {top: 10px; opacity: 0.67;}
  50%     {top: 0; opacity: 0.5;}
  66.67%  {top: 10px; opacity: 0.67;}
  83.34%  {top: 20px; opacity: 0.83;}
  100%    {top: 30px; opacity: 1;}
}

@keyframes cardSlide {
  from {
    gap: 0; opacity: 0.2;
  }
  to {
    gap: 4dvw; opacity: 1;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;gap: 0;
  }
  to {
    opacity: 1;gap: 4svh;
  }
}


 :root {
  --test: rgba(41, 41, 41, 0.342);
  --body-dark: #242424;
  --font-dark-color: rgba(255, 255, 255, 0.87);
  --button-dark-color: #1a1a1a;
  --button-color-hover: #646cff;
  --a-dark-color: #646cff;
  --a-dark-color-hover: #535bf2;
  --active-font: #646cff;
  --input-font: rgba(255, 255, 255, 0.87);
  --input: #1a1a1a;
  --input-border: #646cff;
  --portcardbg: #3a3a3a;
  --skillbg: #3a3a3a;

  --home-background: url(./assets/darkBG3.jpg);

  --slideIn: slideIn 0.8s ease-out 1 forwards;
  --slideIn2: slideIn2 1s ease-out 1 forwards;
  --fadeIn: fadeIn 0.8s ease-in 1 forwards;
  --fadeInP: fadeIn 1.5s ease-out 1 forwards;
  --bounce: vBounce 3s linear infinite forwards;
  --cardSlide: cardSlide 1s ease-out 1 forwards;
  --slideDown: slideDown 0.5s ease-in 1 forwards;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-dark-color);
  background-color: var(--body-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  max-width: 100dvw;
}

a {
  font-weight: 500;
  color: var(--a-dark-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--a-dark-color-hover);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-dark-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--button-color-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

hr {
  width: 80%;
  opacity: 0.5;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: var(--font-light-color);
    background-color: var(--body-light);
  }
  a:hover {
    color: var(--a-light-color-hover);
  }
  button {
    background-color: var(--button-light-color);
  }
} */
